import(cubature)
import(mvtnorm)
importFrom(SpatialExtremes, rmaxstab)
import(copula)
importFrom(stats, dnorm, integrate, optim, optimize, pnorm)
importFrom(utils, combn)
export(AsymVarBR)
export(AsymVarGumbel)
export(AsymVarMaxLinear)
export(EstimationBR)
export(EstimationGumbel)
export(EstimationMaxLinear)
export(selectGrid)
export(stdfEmp)
export(stdfEmpCorr)
export(stdfEmpInt)
useDynLib(tailDepFun, .registration = TRUE)